.container {
  background-color: #41b084;
  width: 400px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.line1 {
  width: 100px;
  height: 10px;
  background-color: white;
}
.line1Active {
  transform: translateY(13px) rotate(-45deg);
  transition: all 300ms;
}
.line2 {
  width: 100px;
  height: 10px;
  background-color: white;
}
.line2Active {
  display: none;
}
.line3 {
  width: 100px;
  height: 10px;
  background-color: white;
}
.line3Active {
  transform: translateY(-13px) rotate(45deg);
  transition: all 300ms;
}
