.container {
  height: 100vh;
  background-color: #fff;
  color: black;
}
.navBar {
  flex: 1;
}
.navOuterContainer {
  display: flex;
  align-items: center;
  background-color: #136c72;
  padding: 1rem;
}
.navlinks__container {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  gap: 2rem;
  text-transform: uppercase;
}

.nav_link {
  background-color: white;
  color: #136c72;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
}
.rightAligin {
  margin-left: auto;
}
.hero {
  background-color: #23424a;
  padding: 7rem 0;
}
.heroContainer {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.heroContent {
  display: flex;
  justify-content: space-between;

  gap: 1rem;
}
.section2 {
  /* width: 30%; */
  max-width: 100%;
  align-self: flex-start;
}
.hero__text {
  width: 60%;
  max-width: 700px;
}
.innerDiv__heading {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 700;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 2rem;
}
.innerDiv__paragraph {
  font-size: 21px;
  margin-bottom: 4rem;
  line-height: 1.5;
}
.cta__btnStyles {
  padding: 1rem 2rem;
  border-radius: 2em;
  font-size: 21px;
  font-weight: bold;
  background-color: #38cfd9;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.hero__heading {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 700;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 2rem;
  line-height: 1.1;
}
.hero__paragraph {
  font-size: 21px;
  margin-bottom: 4rem;
  line-height: 1.5;
}
.hero__cta {
  padding: 1rem 2rem;
  border-radius: 2em;
  font-size: 21px;
  font-weight: bold;
  background-color: #38cfd9;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.flex__boxContainer {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid red;
  gap: 2rem;
  color: black;
  padding-block: 4rem;
}

.flex__box {
  color: black;
}
.flex__boxHeading {
  color: #87629a;
  font-family: "Roboto", sans-serif;
  font-size: 700;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.websiteInfo {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-block: 4rem;
}
.websiteInfoLeftSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 60%;
}
.websiteInfoHeader {
  color: #136c72;
  font-size: 31px;
  width: 80%;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.websiteInfoRightSection {
  width: 30%;
  max-width: 400px;
  background-color: #136c72;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  border: 2px;
  /* flex-direction: column; */
  gap: 2rem;
}

.websiteInfoRightChildSection {
  text-align: center;
  color: white;
}
.footer_flexBoxes {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding-block: 80px;
  gap: 4rem;
}

.footeraContainer {
  background-color: #136c72;
  text-align: center;
}
.footer__heading {
  color: #fff;
  margin-bottom: 2rem;
}
.footer_box {
  color: #fff;
}

.hamBurger {
  display: none;
}

@media (max-width: 900px) {
  .hamBurger {
    display: block;
  }
  .heroContent {
    display: block;
  }
  .hero__text {
    width: 90%;
  }
  .section2 {
    margin-top: 2rem;
  }
  .websiteInfo {
    display: block;
  }
  .websiteInfoLeftSection {
    max-width: 90%;
    max-width: fit-content;
  }
  .websiteInfoRightSection {
    width: 90%;
    max-width: fit-content;
    margin: 0 auto;
  }
  .footer_flexBoxes {
    flex-wrap: wrap;
  }
  .navOuterContainer {
    flex-direction: column;
  }
  .navBar{
    display: none;
  }
  
  .navlinks__container {

    flex-direction: column;
    align-items: center;
  }
  .rightAligin {
    margin: 0;
  }

  .navIconsContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .navIconsContainer button {
    align-self: flex-start;
    margin-right: auto;
  }
  .logoContainer {
    margin-right: auto;
  }
}

.visble{
  display: block ;
}