.mainContainer {
  background-color: white;
  min-height: 100vh;
}
.navigationContainer {
  background-color: #2e323f;
  font-size: 18px;
  color: white;
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 1rem;
  display: block;
}
.navConatiner {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.navConatiner img {
  display: block;
  margin: 0 auto;
}
.signUpCta {
  margin-top: 1rem;
  background-color: #a59678;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}

.heroContentContainer {
  background-color: #3b4050;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding-block: 5rem;
}
.leftContainer {
  font-size: 4rem;
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  line-height: 1.1;
  flex: 1;
}
.leftContainer span {
  color: #a59678;
}

.rightContainer {
  margin-top: 1.5rem;
}
.rightContainer p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-bottom: 1.5rem;
  color: white;
}

.ctaLearnBtn {
  padding: 1rem 2rem;
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  background-color: #a59678;
  border-radius: 1rem;
  text-transform: uppercase;
  font-size: 24px;
}

.pointStyle {
  background-color: rgb(237, 236, 236);
}
.webApproachPolicySection {
  padding-block: 6rem;
}
.websitePoints + .websitePoints {
  margin-top: 2rem;
}
.websitePoints h2 {
  color: #a59678;
  font-size: 30px;
}
.websitePoints p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.motivationTextContainer {
}

.motivationHeading {
  font-size: 36px;
  font-family: "Oswald", sans-serif;
  color: #a59678;
  margin-bottom: 1.5rem;
}
.motivationText {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.motivationText:first-of-type {
  margin-bottom: 2rem;
}
.imageDesign {
  margin-bottom: 1.5rem;
}
.breakDownSteps {
  background-color: #3b4050;
  padding: 2rem;
  text-align: center;
  margin-top: 2rem;
  color: white;
}
.breakDownSteps h2 {
  margin-bottom: 1rem;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
}
.breakDownSteps p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.breakDownSteps + .breakDownSteps {
  margin-top: 1rem;
}
.footerDesgin {
  background-color: #3b4050;
}
.footerCompanyTag {
  font-size: 24px;
  margin-bottom: 4rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
.companyInfo p {
  color: white;
  margin-bottom: 1rem;
}
.companyAround + .companyAround {
  margin-top: 2em;
}
.footerCompanyInfo h3 {
  color: #a59678;
  font-size: 21px;
  margin-bottom: 1rem;
}
.footerLinks {
  color: white;
}

.footerLinks li + li {
  margin-top: 1rem;
}

@media (min-width: 800px) {
  .hamBurgerStyles {
    display: none;
  }
  .navigationContainer {
    display: flex;
    justify-content: space-between;
  }
  .navigationContainer ul {
    display: flex;
    align-items: center;
    gap: 4rem;
  }
  .signUpCta {
    margin: 0;
  }
  .container {
    display: flex;
    gap: 4rem;
    justify-content: center;
  }
  .leftContainer {
    flex: 1;
    max-width: 400px;
  }
  .rightContainer {
    flex: 1;
    max-width: 600px;
    align-self: flex-end;
  }
  .websitePoints + .websitePoints {
    margin-top: 0rem;
  }
  .footerContainer {
    display: block;
  }
  .footerCompanyInfo {
    display: flex;
    gap: 2rem;
  }
  .companyInfo  {
    flex: 1;
  }
  .companyInfo {
    flex: 1;
  }
  .companyAround{
    flex: 1;
  }
  .companyAround + .companyAround {
  margin-top: 0em;
}
}
