@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}
@layer base {
  h1 {
    @apply text-white text-3xl;
  }
  h2 {
    @apply text-white text-2xl;
  }
}

@keyframes ripple {

}

.animate-ripple {
  animation: ripple 0.6s ease-out;
}
